Repository tavomak/Cfc-Capital-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(design) Minor update
  components/Templates/BlogCard/BlogCard.js
  components/Templates/Testimonial/Testimonial.js
  pages/cfc/index.js
  pages/index.js
  pages/prensa/[slug].js
  pages/prensa/categoria/[id].js
  pages/prensa/index.js
  pages/servicios/[slug].js
  public/chica-ameba.jpg
  public/chica-ameba.png
  public/empresarios-ameba.png
  styles/base/globals.css
Due: eslint --fix, prettier --write

feat(design) Minor update
  components/Molecules/Signature/Signature.js
Due: eslint --fix, prettier --write

fix(signature) Empty phone
  components/Molecules/Signature/Signature.js
Due: eslint --fix, prettier --write

fix(signature): Empty phone
  components/Molecules/Signature/Signature.js
Due: eslint --fix, prettier --write

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e7fa05f87816b5607b78fcbe9b8204e09386edd1
Due: none

fix(design): Hero images fix
  components/Molecules/StaticHero/StaticHero.js
  pages/servicios/[slug].js
Due: eslint --fix, prettier --write

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  29dfb1eceb3958c391e6bf054a7a1b280a90b82d
Due: none

fix(components): apply QA feedback and clean up components
  components/Atoms/ClientsIcon/index.js
  components/Atoms/DolarIcon/index.js
  components/Atoms/StarIcon/index.js
  components/Molecules/DesktopNavigation/styles.module.css
  components/Molecules/Forms/FormContact/index.js
  components/Molecules/StepCard/StepCard.js
  components/Templates/CardLayoutTwoColumns/index.js
  components/Templates/Modal/Modal.js
  components/Templates/SubscribeSection/SubscribeSection.js
  pages/cfc/index.js
  pages/index.js
  pages/prensa/index.js
  utils/constants/index.js
Due: eslint --fix, prettier --write

fix(components) apply design team feedback
  components/Molecules/Accordion/Accordion.js
  components/Templates/BlogCard/BlogCard.js
  pages/servicios/[slug].js
  public/ameba-factoring.png
Due: eslint --fix, prettier --write

feat(components) General updates and improvements
  components/Molecules/DesktopNavigation/DesktopNavigation.js
  components/Molecules/MobileNavigation/MobileNavigation.js
  components/Molecules/StepCard/StepCard.js
  components/Templates/Modal/Modal.js
  pages/cfc/index.js
  pages/index.js
  pages/servicios/[slug].js
  styles/base/globals.css
  utils/constants/index.js
Due: eslint --fix, prettier --write

feat(prensa, contacto) Added two banners for the Contacto and Prensa pages
  pages/cfc/index.js
  pages/contacto/index.js
  pages/prensa/index.js
  pages/servicios/[slug].js
  public/CFC-mujer-contacto.png
Due: eslint --fix, prettier --write

fix(components) fix text align to left in the Q&A Boxes
  components/Molecules/Accordion/Accordion.js
  pages/servicios/[slug].js
Due: eslint --fix, prettier --write

feat(leasing, leaseback) Added two banners for the Leasing and Leaseback pages
  pages/cfc/index.js
  pages/prensa/index.js
  pages/servicios/[slug].js
  utils/lib/api.js
Due: eslint --fix, prettier --write

feat(components) Created a separate file for the Content component to avoid repetition
  components/Molecules/Content/Content.js
  components/Molecules/Content/index.js
  pages/contacto/index.js
  pages/index.js
  pages/prensa/index.js
  pages/servicios/[slug].js
Due: eslint --fix, prettier --write

fix(metadata): Search console verification
  pages/_document.js
Due: eslint --fix, prettier --write

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  426997db382bea69d16fff66b7a4e97d634e7737
Due: none

feat(SEO): Structured data, tag manager environment
  components/Molecules/Forms/FormComplaint/index.js
  components/Molecules/Forms/FormContact/index.js
  components/Molecules/StaticHero/StaticHero.js
  components/Templates/Layout/Layout.js
  next.config.mjs
  pages/_app.js
  pages/index.js
  public/robots.txt
  utils/constants/index.js
Due: eslint --fix, prettier --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2261d01ed0c68264f3b854df488723c2e6ee0aab
Due: none

feat(SEO): Zendesk removed
  components/Templates/Layout/Layout.js
Due: eslint --fix, prettier --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a97da1245978b0ffc3540b3c9dd9aafc0f0a094d
Due: none

fix(Form): Send form handler and fonts fix
  components/Molecules/Forms/FormComplaint/index.js
  components/Molecules/Forms/FormLaw/index.js
  components/Molecules/Stepper/Stepper.js
  pages/_app.js
  styles/base/variables.css
  styles/components/inputs.css
  styles/main.css
  utils/fonts.js
Due: eslint --fix, prettier --write

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  388a5915ff9c200a0141c3f9005b489c3b5c1b94
Due: none

fix(Form): Submmit refactor
  components/Atoms/Input/Input.js
  components/Molecules/Forms/FormComplaint/index.js
  components/Molecules/Forms/FormContact/index.js
  components/Molecules/Forms/FormLaw/index.js
  components/Molecules/Forms/FormSubscribe/index.js
  components/Molecules/Stepper/Stepper.js
  pages/api/zoho.js
Due: eslint --fix, prettier --write

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5e245669b75ab696aa83a758b33ade99ee6095b3
Due: none

fix(components): improve component names, replace switch, and apply PR suggestions
  components/Atoms/Card/Card.js
  components/Atoms/ClientsIcon/index.js
  components/Atoms/DolarIcon/index.js
  components/Molecules/CardContentTitle/CardContentTitle.js
  components/Molecules/CardContentTitle/index.js
  components/Molecules/Content/index.js
  components/Molecules/Navbar/Navbar.js
  pages/contacto/index.js
  pages/index.js
  pages/prensa/index.js
  pages/servicios/[slug].js
  pages/servicios/index.js
  styles/base/globals.css
Due: eslint --fix, prettier --write

feat(footer): added two new images and apply
  components/Molecules/Footer/Footer.js
  components/Templates/BlogCard/BlogCard.js
  pages/index.js
  public/cfc-horizontal.png
  public/efa-logo.png
  public/efa-logo.svg
  public/logo-40-horas.png
  public/logo-edición-20-aniversario.png
Due: eslint --fix, prettier --write

fix(footer): update images and apply design team feedback
  components/Molecules/Footer/Footer.js
  components/Molecules/LayerHero/LayerHero.js
  components/Templates/BlogCard/BlogCard.js
  pages/contacto/index.js
  pages/index.js
  pages/servicios/[slug].js
  pages/servicios/index.js
  public/20-años.svg
  public/cfc-servicios.png
  public/edificio-cfc.png
  public/efa-logo.png
  public/logo-40-horas.png
  public/logo-40hrs.svg
  public/logo-edición-20-aniversario.png
  public/logo-efa.svg
Due: eslint --fix, prettier --write

fix(styles): update image in homepage, apply design team feedback in cfc page
  components/Molecules/Footer/Footer.js
  pages/cfc/index.js
  pages/contacto/index.js
  pages/index.js
  pages/servicios/[slug].js
  public/edificio-cfc.png
Due: eslint --fix, prettier --write

fix(styles): correct styles for edificio-cfc image and cfc page
  components/Molecules/Footer/Footer.js
  pages/cfc/index.js
  pages/index.js
Due: eslint --fix, prettier --write

feat: update signature and fix styles in blog section
  components/Molecules/Signature/Signature.js
  components/Templates/BlogCard/BlogCard.js
  components/Templates/CardLayoutTwoColumns/index.js
  pages/index.js
  public/20-años.svg
  public/FB-logo.svg
  public/IG-logo.svg
  public/Linke-logo.svg
  public/Logo-20años.svg
  public/cfc-logo-vertical.png
  public/logo-40hrs.svg
  public/logo-efa.svg
  utils/lib/api.js
Due: eslint --fix, prettier --write

Revert "feat: update signature"
  components/Molecules/Signature/Signature.js
  public/FB-logo.svg
  public/IG-logo.svg
  public/Linke-logo.svg
  public/Logo-20años.svg
  public/cfc-logo-vertical.png
Due: eslint --fix, prettier --write

fix: fix styles in blog section
  components/Templates/BlogCard/BlogCard.js
  components/Templates/CardLayoutTwoColumns/index.js
  pages/index.js
  public/20-años.svg
  public/logo-40hrs.svg
  public/logo-efa.svg
  utils/lib/api.js
Due: eslint --fix, prettier --write

fix: fix styles in blog section card
  components/Templates/BlogCard/BlogCard.js
  components/Templates/CardLayoutTwoColumns/index.js
  pages/index.js
  utils/lib/api.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md})
