Repository tavomak/Cfc-Capital-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,scss,md}": ["prettier --write"]
}

fix(firmas) new location added
  components/Molecules/Signature/Signature.js
  components/Molecules/SignatureCard/SignatureCard.js
Due: eslint --fix, prettier --write

fix(footer) adjust layout diagramming
  components/Molecules/Footer/Footer.js
Due: eslint --fix, prettier --write

feat(prensa) add pagination to categories section and all news
  components/Atoms/Spinner/Spinner.js
  components/Molecules/CategoryNavBar/CategoryNavBar.js
  components/Molecules/Pagination/Pagination.js
  components/Molecules/Pagination/index.js
  pages/prensa/categoria/[id]/[page].js
  pages/prensa/index.js
  utils/constants/index.js
  utils/lib/api.js
Due: eslint --fix, prettier --write

fix(pagination) improve number btn functionality
  components/Molecules/Pagination/Pagination.js
Due: eslint --fix, prettier --write

fix(Develop): Image source
  next.config.mjs
Due: none

chore(release): 1.3.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  862ef77c36021bbf9846c56306d84d0a73f373f4
Due: none

fix(Develop): Image source v1
  next.config.mjs
Due: none

chore(release): 1.3.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  52fd69d24a23a9028df46e9d8fe004b03656671c
Due: none

fix: Enrolate modal
  components/Molecules/DesktopNavigation/DesktopNavigation.js
  components/Molecules/Navbar/Navbar.js
Due: eslint --fix, prettier --write

chore(release): 1.3.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  48585bd37fbd6b488e5d35a9c73de0eae7c56b6d
Due: none

fix: Enrolate modal mobile
  components/Molecules/MobileNavigation/MobileNavigation.js
Due: eslint --fix, prettier --write

chore(release): 1.3.10 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  721094c7e36708e4c230572424e4e4828ccddb45
Due: none

fix: enrolador.cl link
  components/Molecules/DesktopNavigation/DesktopNavigation.js
  components/Molecules/MobileNavigation/MobileNavigation.js
Due: eslint --fix, prettier --write

chore(release): 1.3.11 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d2797268bf4273d219f66d6e2ef9b4fb571f912f
Due: none

feat: phone label
  components/Molecules/SignatureCard/SignatureCard.js
Due: eslint --fix, prettier --write

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  36b5b7768e54d1ffe75a82dc23f87fecf7cc76ea
Due: none

fix: Stprybook seting and warp init
  components/Molecules/SignatureCard/SignatureCard.js
Due: eslint --fix, prettier --write

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d00fcb7239ccb9d1f61ce6537236ff2c66c25b1a
Due: none

feat: contact message
  components/Molecules/Forms/FormComplaint/index.js
  components/Molecules/Forms/FormLaw/index.js
Due: eslint --fix, prettier --write

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  26078df3e1b3fff2412c5a151e60f936ce680695
Due: none

feat: new services
  components/Molecules/CardContentTitle/CardContentTitle.js
  components/Molecules/Footer/Footer.js
  components/Molecules/Navbar/Navbar.js
  components/Templates/ProductSection/ProductSection.js
  components/Templates/ProductSection/index.js
  hooks/useViewport.js
  pages/servicios/factoring/productos/index.js
  public/Emprendefact-bg.jpg
  public/Emprendefact-bg.svg
  public/Emprendefact-logo-sec.svg
  public/Emprendefact-logo-white.svg
  public/Emprendefact-logo.svg
  public/Minefact-bg.jpg
  public/Minefact-bg.svg
  public/Minefact-logo-sec.svg
  public/Minefact-logo-white.svg
  public/Minefact-logo.svg
  public/Publifact-bg.jpg
  public/Publifact-bg.svg
  public/Publifact-logo-sec.svg
  public/Publifact-logo-white.svg
  public/Publifact-logo.svg
  public/chart.svg
  public/clock.svg
  public/pan.svg
  styles/base/globals.css
  utils/constants/index.js
Due: eslint --fix, prettier --write

feat: new servicesi round 2
  components/Atoms/Button/Button.js
  components/Templates/ProductSection/ProductSection.js
  pages/servicios/factoring/productos/index.js
  public/chat.svg
  public/clockwhite.svg
  public/digital.svg
  public/docs.svg
  public/guard.svg
  public/handshake.svg
  public/justice.svg
  public/pick.svg
  public/pin.svg
  public/star.svg
  styles/base/globals.css
  utils/constants/index.js
Due: eslint --fix, prettier --write

Phase 0 migration
  .eslintrc.json
  package.json
  pages/_app.js
  pages/api/register.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Phase 1 migration
  package.json
  pnpm-lock.yaml
Due: prettier --write

Phase 2 migration
  .eslintrc.json
  components/Molecules/Forms/External/FormLogin.js
  components/Molecules/Forms/FormComplaint/index.js
  components/Molecules/Forms/FormContact/index.js
  components/Molecules/Forms/FromAccess/FormAccess.js
  components/Molecules/LayerHero/LayerHero.js
  components/Templates/ProductSection/ProductSection.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Phase 3 migration
  components/Molecules/Forms/FormComplaint/index.js
  components/Molecules/Forms/FormContact/index.js
  eslint.config.mjs
  next.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  styles/main.css
Due: eslint --fix, prettier --write

Phase 4 migration
  components/Atoms/Card/Card.js
  components/Atoms/Input/Input.js
  components/Molecules/Accordion/styles.module.css
  components/Molecules/CategoryNavBar/CategoryNavBar.js
  components/Molecules/DesktopNavigation/DesktopNavigation.js
  components/Molecules/Footer/Footer.js
  components/Molecules/Forms/FormComplaint/index.js
  components/Molecules/Forms/FormContact/index.js
  components/Molecules/Forms/FormLaw/index.js
  components/Molecules/GoToTopButton/styles.module.css
  components/Molecules/MobileNavigation/MobileNavigation.js
  components/Molecules/SignatureCard/SignatureCard.js
  components/Molecules/Stepper/Stepper.js
  components/Templates/CardColumns/index.js
  components/Templates/Layout/Layout.js
  components/Templates/MediaSection/MediaSection.js
  components/Templates/Modal/Modal.js
  components/Templates/ProductSection/ProductSection.js
  components/Templates/SubscribeSection/SubscribeSection.js
  components/Templates/ZigZagSection/ZigZagSection.js
  package.json
  pages/404.js
  pages/_document.js
  pages/cfc/index.js
  pages/contacto/index.js
  pages/index.js
  pages/prensa/[slug].js
  pages/servicios/[slug].js
  pnpm-lock.yaml
  postcss.config.mjs
  styles/main.css
  tailwind.config.js
  utils/constants/index.js
  utils/lib/api.js
Due: eslint --fix, prettier --write

Phase 5 migration
  components/Molecules/Accordion/Accordion.js
  components/Molecules/DesktopNavigation/DesktopNavigation.js
  components/Templates/Modal/Modal.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Phase 6 migration
  .husky/pre-commit
  package.json
  pages/_app.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: motion
  components/Molecules/LayerHero/LayerHero.js
  components/Templates/BlogCard/BlogCard.js
  components/Templates/FadeInSection/FadeInSection.js
  components/Templates/FadeInSection/index.js
  components/Templates/ProductSection/ProductSection.js
  components/Templates/SubscribeSection/SubscribeSection.js
  components/Templates/ZigZagSection/ZigZagSection.js
  pages/index.js
  pages/servicios/[slug].js
  pages/servicios/factoring/productos/index.js
Due: eslint --fix, prettier --write

feat: cursor pointer on buttons
  components/Atoms/Button/Button.js
  components/Molecules/GoToTopButton/styles.module.css
  components/Templates/Modal/Modal.js
  styles/components/buttons.css
Due: eslint --fix, prettier --write

fix: spread attr
  components/Templates/FadeInSection/FadeInSection.js
Due: eslint --fix, prettier --write
