Repository tavomak/Cfc-Capital-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,scss,md}": ["prettier --write"]
}

chore(release): 1.2.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ebc5ddf02882e867df3b1586dceb3a324c6f683e
Due: none

fix(Signature): Efa Image src fix
  components/Molecules/SignatureCard/SignatureCard.js
Due: eslint --fix, prettier --write

chore(release): 1.2.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0401188c28a66b10899862c4e2969e091bc18612
Due: none

feature(Memorias): CMS connection
  pages/memorias/index.js
  utils/lib/api.js
Due: eslint --fix, prettier --write

feat(prensa, homepage) Remove Q&A section and prevent repetition of the latest news in the press section
  pages/contacto/index.js
  pages/index.js
  pages/prensa/categoria/[id].js
  pages/prensa/index.js
  pages/servicios/[slug].js
  public/Fco-Ema-Contacto.png
Due: eslint --fix, prettier --write

chore(globals) add new class bg-soft-purple
  styles/base/globals.css
Due: prettier --write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  904836cef103a1acf09ff8c8ebc9f4d3072a2ac0
Due: none

fix(design): StarIcon and cfc page update
  components/Atoms/StarIcon/index.js
  pages/cfc/index.js
Due: eslint --fix, prettier --write

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d54bc053b33ce1a788471b8db04b059b38316036
Due: none

fix(design): NewCard and factoring web url fixed
  components/Molecules/Forms/FormContact/index.js
  components/Molecules/NewCard/NewCard.js
  pages/cfc/index.js
  pages/index.js
  pages/servicios/index.js
Due: eslint --fix, prettier --write

fix(design): NewCard and factoring web url fixed
  components/Molecules/NewCard/NewCard.js
Due: eslint --fix, prettier --write

chore(release): 1.3.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0d31fd59510c92ada6e85f35aae48ff29186777b
Due: none

fix(design): Blog images
  pages/prensa/index.js
Due: eslint --fix, prettier --write

chore(release): 1.3.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  62dad898a0a854d859499000dcab33fe057908ea
Due: none

fix(design): Blog images v2
  pages/prensa/categoria/[id].js
  pages/prensa/index.js
Due: eslint --fix, prettier --write

chore(release): 1.3.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  baa3d82831076769ecc532342d9bdb68b964611d
Due: none

feat(prensa) add padding to the news layout for better spacing
  components/Molecules/NewCard/NewCard.js
  pages/prensa/[slug].js
  pages/prensa/categoria/[id].js
  pages/prensa/index.js
Due: eslint --fix, prettier --write

fix(seo): Sitemaps fix
  pages/api/blog-sitemap.js
Due: eslint --fix, prettier --write

chore(release): 1.3.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4c49f6a926558e2fffd575224033f338e9d98776
Due: none

fix(seo): Sitemaps fix v2
  pages/api/pages-sitemap.js
Due: eslint --fix, prettier --write

chore(release): 1.3.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2f23f25e955ea046b7ad856b09ef8f08110513c1
Due: none

fix(memorias, prensa) improve memorias section layout and remove padding from prensa cards
  components/Molecules/Footer/Footer.js
  components/Molecules/NewCard/NewCard.js
  components/Molecules/StepCard/StepCard.js
  pages/cfc/index.js
  pages/index.js
  pages/memorias/index.js
  pages/prensa/[slug].js
  pages/prensa/categoria/[id].js
  pages/prensa/index.js
  pages/servicios/[slug].js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(memorias) minor issue
  components/Molecules/Footer/Footer.js
  pages/memorias/index.js
Due: eslint --fix, prettier --write

feat(prensa) highlightedPost added
  pages/prensa/index.js
  utils/lib/api.js
Due: eslint --fix, prettier --write

fix(firmas) cfc direction changed
  components/Molecules/Signature/Signature.js
Due: eslint --fix, prettier --write

fix(firmas) new location added
  components/Molecules/Signature/Signature.js
  components/Molecules/SignatureCard/SignatureCard.js
Due: eslint --fix, prettier --write

fix(footer) adjust layout diagramming
  components/Molecules/Footer/Footer.js
Due: eslint --fix, prettier --write
