Repository tavomak/Cfc-Capital-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: new factoring services
  components/Molecules/CardContentTitle/CardContentTitle.js
  components/Templates/Modal/Modal.js
  next.config.mjs
  package-lock.json
  pages/index.js
  pages/servicios/[slug].js
  pages/servicios/factoring/index.js
  public/banner-factoring-nvos.jpg
  utils/constants/index.js
  utils/lib/api.js
Due: eslint --fix, prettier --write

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2b6b3fb7b0b84a8a4cb4c6ee657dc1eb01d57cd1
Due: none

feat: placeholder text change
  components/Molecules/Forms/FormComplaint/index.js
  components/Molecules/Forms/FormContact/index.js
  components/Molecules/Forms/FormLaw/index.js
  components/Molecules/Forms/FormSubscribe/index.js
Due: eslint --fix, prettier --write

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  82fcaa972c5b5285e06b540718650157a6d644ea
Due: none

fix: Header image responsive behavior
  pages/servicios/factoring/index.js
Due: eslint --fix, prettier --write

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1cd82e8fbaac3f64a03762a7a1b8c39c5b6effe7
Due: none

feat: afis footer
  components/Molecules/Footer/Footer.js
  public/afys-white.png
Due: eslint --fix, prettier --write

feat: afis firma
  components/Molecules/SignatureCard/SignatureCard.js
  public/afys-purple.png
Due: eslint --fix, prettier --write

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  67dbd8cf7c3ad25819a4dd57fdaec0dd28f2df72
Due: none

feat: signature outlook
  components/Molecules/SignatureCard/SignatureCard.js
  public/afys-purple.png
Due: eslint --fix, prettier --write

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cccde886c4ba17ea689202b3c6dc5a7872ddf850
Due: none

feat: afis firma
  components/Molecules/SignatureCard/SignatureCard.js
Due: eslint --fix, prettier --write

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  380568efc5202a9b7aa233f73210a6c978ee9f2d
Due: none

fix: item removed
  utils/constants/index.js
Due: eslint --fix, prettier --write

chore(release): 1.10.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ff7784cabe5fcc1c4351a5f7342270a4610c6e84
Due: none

feat: factoring service title and description
  pages/servicios/factoring/index.js
Due: eslint --fix, prettier --write

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4cd69575210f64bb64472514cdd3408df93e5589
Due: none

core: production workflow
  .github/workflows/main.yml
Due: none

fix: access modal message
  components/Molecules/DesktopNavigation/DesktopNavigation.js
  components/Molecules/MobileNavigation/MobileNavigation.js
  components/Molecules/Navbar/Navbar.js
Due: eslint --fix, prettier --write

chore(release): 1.11.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  466933e0bb5cb50800faf8a1aa616140c1a66aa0
Due: none

feat: source buster on forms
  components/Molecules/Forms/FormContact/index.js
  package.json
  pages/_app.js
  pages/api/zoho.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9cc83b37ff1ac8726288623bb1be024a88afea2e
Due: none

feat: replace anchors with buttons, enrolate aqui button removed
  components/Molecules/DesktopNavigation/DesktopNavigation.js
  components/Molecules/MobileNavigation/MobileNavigation.js
  components/Molecules/Stepper/Stepper.js
Due: eslint --fix, prettier --write

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f7b32462bd5cf1a32d7dbd82c01fa9b63e0657c1
Due: none

chore: gate pre-commit with fallow audit (static analysis only)
  .fallowrc.json
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: correct menu button
  components/Molecules/DesktopNavigation/DesktopNavigation.js
  components/Molecules/MobileNavigation/MobileNavigation.js
Due: eslint --fix, prettier --write

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  caebc33ff6c833752c248111775c0e9eafd3f95d
Due: none

feat: footer links
  .gitignore
  components/Molecules/Footer/Footer.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md})
