Repository tavomak/Cfc-Capital-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c0ba28ce3bdad5c01f307af3b1bd1591e64a7c53
Due: none

chore: pnpm update
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: prettier --write

feat: video migration from cloudinary to vercel public folder
  components/Templates/ProductSection/ProductSection.js
  next.config.mjs
  package.json
  pages/cfc/index.js
  pages/index.js
  pnpm-lock.yaml
  public/videos/cfc-presentacion-v1.mp4
  public/videos/cfc-presentacion-v1.webp
  public/videos/emprendefact-v1.mp4
  public/videos/emprendefact-v1.webp
  public/videos/minefact-v1.mp4
  public/videos/minefact-v1.webp
  public/videos/nosotros-v1.mp4
  public/videos/nosotros-v1.webp
  public/videos/productos-v1.mp4
  public/videos/productos-v1.webp
  public/videos/publifact-v1.mp4
  public/videos/publifact-v1.webp
Due: eslint --fix, prettier --write

feat: package-lock removed
  package-lock.json
Due: prettier --write

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d93287618ecc64016be1572c9c0f0e3fb81d5b16
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md})
